In [6]:
# Importing Dependencies.
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [7]:
# List to store all data.
all_data = []

# Using a for loop since the page has multiple pages.
for page_num in range(1, 7):
    url = (
        f"https://www.scrapethissite.com/pages/forms/?page_num={page_num}&per_page=100"
    )

    page = requests.get(url)
    soup = BeautifulSoup(page.content, "html.parser")

    # Finding the table
    table = soup.find("table")

    # Finding the table rows
    rows = table.find_all("tr")

    # Extracting the actual table data
    for row in rows[1:]:
        cols = row.find_all("td")

        individual_row_data = [col.text.strip() for col in cols]

        all_data.append(individual_row_data)

In [8]:
headers = table.find_all("th")
cleaned_headers = [header.text.strip() for header in headers]
df = pd.DataFrame(all_data, columns=cleaned_headers)

In [9]:
df

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8,0.463,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10,0.427,231,264,-33
579,Vancouver Canucks,2011,51,22,9,0.622,249,198,51
580,Washington Capitals,2011,42,32,8,0.512,222,230,-8
581,Winnipeg Jets,2011,37,35,10,0.451,225,246,-21

In [10]:
# Exporting to a csv file
df.to_csv(r'C:\Users\USER-1\Griffo\CODVEDA\WebScraping\hockey_data.csv', index=False)